<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bonc.jibei.mapper.AbnormalAiagnosisMapper">

    <select id="powerUnitEvaluation" resultType="com.bonc.jibei.entity.powerUnitEvaluation">
        SELECT
            power_unit,
            sum( Gg_value ) AS Gg,
            sum( MRTBF_value ) AS MRTBF,
            sum( complex_value ) AS complex
        FROM
            jb_power_unit_data
        where 1=1
        <if test="stationId != null  and stationId != ''">
            and   station_id=#{stationId}
        </if>
        <if test="yearMonth != null and '' != yearMonth">
            and  DATE_FORMAT( `data_time`, "%Y-%m" )= #{yearMonth}
        </if>
        GROUP BY
            power_unit
    </select>

    <select id="powerUnitPower" resultType="com.bonc.jibei.vo.UseOfHoursVo">
        SELECT
            power_unit yData1,
            ghi_value xData,
            avg( power_value )  yData
        FROM
            jb_power_unit_kw
        where 1=1
        <if test="stationId != null  and stationId != ''">
            and   station_id=#{stationId}
        </if>
        <if test="yearMonth != null and '' != yearMonth">
            and  DATE_FORMAT( `data_time`, "%Y-%m" )= #{yearMonth}
        </if>
        <if test="powerUnit != null and '' != powerUnit">
            and   power_unit in
            <foreach collection="powerUnit" index="index" item="item" open="(" separator="," close=")">
                           #{item}
            </foreach>
        </if>
        GROUP BY
            power_unit,
            ghi_value
    </select>
    
    <select id="powerInverterErrorPosition"   resultType="com.bonc.jibei.entity.powerInverter">
        select  * from jb_power_inverter_data
    </select>


    <select id="powerInverterErrorStatistics"   resultType="com.bonc.jibei.vo.powerInverterStatusVo">
        SELECT
            sum( CASE WHEN conversion_efficiency > 85 THEN 1 ELSE 0 END ) conversionEfficiencyStatus,
            sum( CASE WHEN inverter_loss > 15 THEN 1 ELSE 0 END ) inverterLossStatus,
            sum( CASE WHEN temp > 43 THEN 1 ELSE 0 END ) tempStatus,
            sum( direct_status ) directStatus,
            sum( three_phase_current_imbalance_status ) threeStatus,
            sum( overall_status ) overallStatus ,
            COUNT(overall_status) sumStatus
        FROM
            jb_power_inverter_data
    </select>
    <select id="powerInverterconversionEfficiency"  resultType="com.bonc.jibei.vo.UseOfHoursVo">
    SELECT avg(conversion_efficiency)  yData,data_time xData from jb_power_inverter_data where inverter='NBQ002' GROUP BY data_time
    </select>
    <select id="powerInverterPower"  resultType="com.bonc.jibei.vo.UseOfHoursVo">
        SELECT sum(power_value)  xData,inverter yData from jb_power_inverter_data GROUP BY inverter
    </select>


    <select id="powerInverterFaultCnt"  resultType="com.bonc.jibei.vo.UseOfHoursVo">
        SELECT sum(fault_cnt)  xData,device_id yData from jb_status_info  GROUP BY device_id
    </select>


    <select id="powerInverterWarning"  resultType="com.bonc.jibei.entity.powerInverterWarning">
        SELECT inverter,warning_time,warning_type,warning_desc FROM jb_power_inverter_warning
            WHERE 1=1
        <if test="stationId != null and '' != stationId">
           and station_id=#{stationId}
        </if>
        GROUP BY inverter,warning_time,warning_type,warning_desc
    </select>

    <select id="powerInverterWarningDetail"  resultType="com.bonc.jibei.entity.powerInverterWarning">
        SELECT  *  FROM jb_power_inverter_warning
        WHERE 1=1
        <if test="inverter != null and '' != inverter">
         and   inverter=#{inverter}
        </if>
        <if test="warningTime != null and '' != warningTime">
            and   warning_time=#{warningTime}
        </if>
        <if test="warningType != null and '' != warningType">
            and   warning_type=#{warningType}
        </if>
        <if test="warningDesc != null and '' != warningDesc">
            and   warning_desc=#{warningDesc}
        </if>
    </select>

    <select id="powerComponentsStringStatistics"  resultType="com.bonc.jibei.entity.powerComponentsString">
        SELECT STATUS,
               count( components_string ) AS componentsString
        FROM
            jb_power_components_string
        GROUP BY
            STATUS
    </select>
    <select id="powerComponentsStringTop5"  resultType="com.bonc.jibei.vo.UseOfHoursVo">
    SELECT power_unit yData,count(status) xData from jb_power_components_string GROUP BY power_unit
    </select>

    <select id="powerComponentsPr"  resultType="com.bonc.jibei.vo.UseOfHoursVo">
        SELECT
            Round( sum( pr_value )*100, 2 ) yData,
            data_time as xData
        FROM
            jb_power_generation_efficiency  jp
                LEFT JOIN cloudiip_access_equipment.v_stations_codes vs on vs.station_id=jp.station_id
        WHERE 1=1
          and jp.station_id=#{stationId}
        GROUP BY data_time
    </select>

    <select id="lostPowerAnalyze"  resultType="com.bonc.jibei.vo.UseOfHoursVo">
        SELECT
            sum(power_loss)  yData,
            sum(power_loss_total) yData1,
            data_time as xData
        FROM
            jb_power_loss
        WHERE 1=1
          and station_id=#{stationId}
        GROUP BY data_time
    </select>

    <select id="cleaningEconomicCalculation"  resultType="String">
        SELECT
            sum(power_loss_total)  power_loss_total
        FROM
            jb_power_loss
        WHERE 1=1
          and station_id=#{stationId}
        GROUP BY data_time
        ORDER BY  data_time DESC
            limit 1
    </select>


    <select id="powerComponentsStringList"  resultType="com.bonc.jibei.entity.powerComponentsString">
        SELECT power_unit ,inverter,components_string from jb_power_components_string
    </select>


    <select id="powerComponentsStringLocation"  resultType="com.bonc.jibei.entity.powerComponentsString">
        SELECT b.id,a.power_unit,a.inverter,a.components_string, IFNULL(b.`status`,0) status,a.components_string_location from jb_photovoltaic_org  a
       LEFT JOIN  jb_power_components_string  b on a.power_unit=b.power_unit and a.inverter=b.inverter and  a.components_string=b.components_string
    </select>

    <select id="powerComponentsStringDetail"  resultType="com.bonc.jibei.entity.powerComponentsString">
        SELECT
            * from  jb_power_components_string
        where id=#{id}
    </select>

    <select id="powerComponentsLocation"  resultType="com.bonc.jibei.entity.powerComponents">
    SELECT
        b.id,
    a.power_unit,
    a.inverter,
    a.components,
    case when ISNULL(b.`error_type`) then 0 else 1 end STATUS,
    a.components_string_location as components_location
    FROM
    jb_photovoltaic_org a
    LEFT JOIN jb_power_components b ON a.power_unit = b.power_unit
    AND a.inverter = b.inverter
    AND a.components = b.components
    </select>
    <select id="powerComponentsDetail"  resultType="com.bonc.jibei.entity.powerComponents">
        SELECT
            * from  jb_power_components
        where id=#{id}
    </select>

    <select id="powerComponentsErrorDistributed"  resultType="com.bonc.jibei.vo.UseOfHoursVo">
        select
            ROUND(count(error_type) /(SELECT COUNT(error_type) from jb_power_components)*100,2) yData,
            error_type xData
        from jb_power_components GROUP BY  error_type
    </select>

    <select id="powerComponentsErrorList" resultType="com.bonc.jibei.vo.powerComponentsVo">
    select
    count(error_type)  errorCnt,
    error_type,
    count(DISTINCT(components)) components,
    0 as componentsStringErrotCnt,
    0 as componentsStringErrotRate
    from jb_power_components GROUP BY  error_type
    </select>

    <select id="powerComponentsErrorLocation"  resultType="com.bonc.jibei.entity.powerComponents">
        SELECT a.power_unit,a.inverter,a.components_string, IFNULL(b.`status`,0) status,a.components_string_location from jb_photovoltaic_org  a
                                                                                                                              LEFT JOIN  jb_power_components b on a.power_unit=b.power_unit and a.inverter=b.inverter and  a.components_string=b.components_string
    </select>
</mapper>