<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bonc.jibei.mapper.DataQualityErrorMapper">

    <resultMap id="BaseResultMap" type="com.bonc.jibei.entity.DataQualityError" >
        <result column="id" property="id" />
        <result column="date" property="date" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="station_id" property="stationId" />
        <result column="data_source" property="dataSource" />
        <result column="code" property="code" />
        <result column="error_type" property="errorType" />
        <result column="num" property="num" />
    </resultMap>

    <sql id="Base_Column_List">
        id,
        date,
        start_time,
        end_time,
        station_id,
        data_source,
        code,
        error_type,
        num
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id" parameterType="com.bonc.jibei.entity.DataQualityError">
        INSERT INTO data_quality_error
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="null != date and '' != date">
                date,
            </if>
            <if test="null != startTime and '' != startTime">
                start_time,
            </if>
            <if test="null != endTime and '' != endTime">
                end_time,
            </if>
            <if test="null != stationId and '' != stationId">
                station_id,
            </if>
            <if test="null != dataSource and '' != dataSource">
                data_source,
            </if>
            <if test="null != code and '' != code">
                code,
            </if>
            <if test="null != errorType and '' != errorType">
                error_type,
            </if>
            <if test="null != num and '' != num">
                num
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="null != date and '' != date">
                #{date},
            </if>
            <if test="null != startTime and '' != startTime">
                #{startTime},
            </if>
            <if test="null != endTime and '' != endTime">
                #{endTime},
            </if>
            <if test="null != stationId and '' != stationId">
                #{stationId},
            </if>
            <if test="null != dataSource and '' != dataSource">
                #{dataSource},
            </if>
            <if test="null != code and '' != code">
                #{code},
            </if>
            <if test="null != errorType and '' != errorType">
                #{errorType},
            </if>
            <if test="null != num and '' != num">
                #{num}
            </if>
        </trim>
    </insert>

    <delete id="delete" >
        DELETE FROM data_quality_error
        WHERE id = #{id}
    </delete>

    <update id="update" parameterType="com.bonc.jibei.entity.DataQualityError" >
        UPDATE data_quality_error
        <set>
            <if test="null != date and '' != date">date = #{date},</if>
            <if test="null != startTime and '' != startTime">start_time = #{startTime},</if>
            <if test="null != endTime and '' != endTime">end_time = #{endTime},</if>
            <if test="null != stationId and '' != stationId">station_id = #{stationId},</if>
            <if test="null != dataSource and '' != dataSource">data_source = #{dataSource},</if>
            <if test="null != code and '' != code">code = #{code},</if>
            <if test="null != errorType and '' != errorType">error_type = #{errorType},</if>
            <if test="null != num and '' != num">num = #{num}</if>
        </set>
        WHERE id = #{id}
    </update>


    <select id="load" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM data_quality_error
        WHERE id = #{id}
    </select>

    <select id="pageList" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM data_quality_error
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="pageListCount" resultType="java.lang.Integer">
        SELECT count(1)
        FROM data_quality_error
    </select>

    <select id="passRateStatistics" resultType="com.bonc.jibei.entity.PassRateStatistics">
        SELECT
        ROUND(SUM( total_num )/100000000, 2 ) AS totalNum,
        ROUND(SUM( qualified_num )/100000000, 2 ) AS qualifiedNum,
        ROUND( SUM( qualified_num )/ SUM( total_num )* 100, 2 ) AS qualifiedRate,
        cc.type_id
        FROM
        jb_qualified jb
        LEFT JOIN cloudiip_access_equipment.v_stations_codes cc on cc.station_id=jb.station_id
        where 1=1
        and jb.station_id !=''
        <if test="type != null  and type != ''">
            and   cc.type_id=#{type}
        </if>
        <if test="startTime != null  and startTime != ''">
            and   jb.date_time &gt;= #{startTime}
        </if>
        <if test="endTime != null  and endTime != ''">
            and   jb.date_time &lt;= #{endTime}
        </if>
        <if test="stationId != null  and stationId != ''">
            and   jb.station_id=#{stationId}
        </if>
        GROUP BY cc.type_id
    </select>

    <select id="passRateDown10" resultType="com.bonc.jibei.entity.Station">
        SELECT
            ROUND( SUM( qualified_num )/ SUM( total_num )* 100, 2 ) AS qualifiedRate,
            jb.station_id ,
            cc.station_name
        FROM
            jb_qualified jb
                LEFT JOIN cloudiip_access_equipment.v_stations_codes cc on cc.station_id=jb.station_id
        where 1=1
          and jb.station_id !=''
        <if test="startTime != null  and startTime != ''">
            and   jb.date_time &gt;= #{startTime}
        </if>
        <if test="endTime != null  and endTime != ''">
            and   jb.date_time &lt;= #{endTime}
        </if>
        <if test="type != null  and type != ''">
            and   cc.type_id=#{type}
        </if>
        GROUP BY jb.station_id
        ORDER BY qualifiedRate
            LIMIT 10
    </select>

    <select id="selStationStatus" resultType="com.bonc.jibei.entity.Station">
        SELECT station_id,station_name
        from
            cloudiip_access_equipment.v_stations_codes
        where 1=1
        <choose>
        <when test = "type=='1'.toString()">
          and  ISNULL(hlpt_calcu)
         and   ISNULL(hlpt_newengergycloud)
        </when>
        <when test = "type=='2'.toString()">
            and  ISNULL(danji_code)
        </when>
            <when test = "type=='3'.toString()">
                and  ISNULL(device_num)
         </when>
            <when test = "type=='4'.toString()">
                and  ISNULL(glyc_code)
            </when>

        </choose>

    </select>

    <select id="passRateStatisticsSortJb" resultType="String">
        SELECT dd.sort_jb
        FROM
        (
        SELECT concat(@r:=@r+1, "") sort_jb, d1.*
        FROM (
        SELECT d.*
        FROM (
        SELECT
        ROUND( SUM( qualified_num ) , 2 ) AS qualifiedNum,
        cc.type_id ,
        jb.station_id
        FROM
        jb_qualified jb
        LEFT JOIN cloudiip_access_equipment.v_stations_codes cc ON cc.station_id = jb.station_id
        WHERE
        1 = 1
        AND jb.station_id != ''

        <if test="startTime != null  and startTime != ''">
            and   jb.date_time &gt;= #{startTime}
        </if>
        <if test="endTime != null  and endTime != ''">
            and   jb.date_time &lt;= #{endTime}
        </if>
        GROUP BY
        cc.type_id,jb.station_id
        ORDER BY qualifiedNum desc
        )d
        join cloudiip_access_equipment.v_stations_codes sc
        on d.station_id=sc.station_id
        ORDER BY qualifiedNum desc
        )d1, (SELECT @r:=0) a
        )dd
        WHERE 1=1
        <if test="stationId != null  and stationId != ''">
            and   dd.station_id=#{stationId}
        </if>
    </select>

    <select id="passRateStatisticsSortPm" resultType="String">
        SELECT dd.sort_jb
        FROM
        (
        SELECT concat(@r:=@r+1, "") sort_jb, d1.*
        FROM (
        SELECT d.*
        FROM (
        SELECT
        ROUND( SUM( qualified_num ) , 2 ) AS qualifiedNum,
        cc.type_id ,
        jb.station_id
        FROM
        jb_qualified jb
        LEFT JOIN cloudiip_access_equipment.v_stations_codes cc ON cc.station_id = jb.station_id
        WHERE
        1 = 1
        AND jb.station_id != ''
        and   cc.type_id=(SELECT type_id from cloudiip_access_equipment.v_stations_codes where station_id=#{stationId} )
        <if test="startTime != null  and startTime != ''">
            and   jb.date_time &gt;= #{startTime}
        </if>
        <if test="endTime != null  and endTime != ''">
            and   jb.date_time &lt;= #{endTime}
        </if>
        GROUP BY
        cc.type_id,jb.station_id
        ORDER BY qualifiedNum desc
        )d
        join cloudiip_access_equipment.v_stations_codes sc
        on d.station_id=sc.station_id
        ORDER BY qualifiedNum desc
        )d1, (SELECT @r:=0) a
        )dd
        WHERE 1=1
        <if test="stationId != null  and stationId != ''">
            and   dd.station_id=#{stationId}
        </if>
    </select>

    <select id="SelPassRateTrend" resultType="com.bonc.jibei.entity.Qualified">
        SELECT
        <choose>
            <when test = "dataFlag=='2'.toString()">
                cc.station_name as station_id,
            </when>
            <otherwise>
                date_time,
            </otherwise>
        </choose>
        ROUND(SUM( CASE `data_source` WHEN '1' THEN qualified_num ELSE 0 END )/SUM( total_num )* 100 ,2 )AS 'hlpt',
        ROUND(SUM( CASE `data_source` WHEN '2' THEN qualified_num ELSE 0 END )/SUM( total_num )* 100 ,2 )  AS 'djxt',
        ROUND(SUM( CASE `data_source` WHEN '3' THEN qualified_num ELSE 0 END )/SUM( total_num )* 100 ,2 ) AS 'czsssj',
        ROUND(SUM( CASE `data_source` WHEN '4' THEN qualified_num ELSE 0 END )/SUM( total_num )* 100 ,2 ) AS 'glycsj',
        ROUND( SUM( qualified_num )/ SUM( total_num )* 100, 2 ) AS pass_rate
        FROM
        jb_qualified jb
        LEFT JOIN cloudiip_access_equipment.v_stations_codes cc on cc.station_id=jb.station_id
        where 1=1
        and jb.station_id !=''
        <if test="type != null  and type != ''">
            and   cc.type_id=#{type}
        </if>
        <if test="stationId != null  and stationId != ''">
            and   jb.station_id=#{stationId}
        </if>
        <if test="startTime != null  and startTime != ''">
            and   jb.date_time &gt;= #{startTime}
        </if>
        <if test="endTime != null  and endTime != ''">
            and   jb.date_time &lt;= #{endTime}
        </if>
        GROUP BY
        <choose>
            <when test = "dataFlag=='2'.toString()">
                jb.station_id
            </when>
            <otherwise>
                date_time
            </otherwise>
        </choose>
    </select>

    <select id="selErrorRecord" resultType="com.bonc.jibei.entity.DataQualityError">
        SELECT
        err.*,
        cc.station_name
        FROM
        jb_data_quality_error err
        LEFT JOIN cloudiip_access_equipment.v_stations_codes cc ON cc.danji_code  LIKE CONCAT('%',err.station_id ,'%')
        where 1=1
        <if test="dataSource != null  and dataSource != ''">
            and   err.data_source=#{dataSource}
        </if>
        <if test="errorType != null  and errorType != ''">
            and   err.error_type=#{errorType}
        </if>
        <if test="stationId != null  and stationId != ''">
            and   cc.station_id=#{stationId}
        </if>
        <if test="startTime != null  and startTime != ''">
            and   err.date &gt;= #{startTime}
        </if>
        <if test="endTime != null  and endTime != ''">
            and   err.date &lt;= #{endTime}
        </if>
    </select>

    <select id="selErrorRecordTotal" resultType="com.bonc.jibei.entity.DataQualityError">
        SELECT
        count(*) as cnt,
        sum(num) as num
        FROM
        jb_data_quality_error err
        <if test="stationId != null  and stationId != ''">
            LEFT JOIN cloudiip_access_equipment.v_stations_codes cc ON cc.danji_code  LIKE CONCAT('%',err.station_id ,'%')
        </if>
        where 1=1
        <if test="dataSource != null  and dataSource != ''">
            and   err.data_source=#{dataSource}
        </if>
        <if test="errorType != null  and errorType != ''">
            and   err.error_type=#{errorType}
        </if>
        <if test="stationId != null  and stationId != ''">
            and   cc.station_id=#{stationId}
        </if>
        <if test="startTime != null  and startTime != ''">
            and   err.date &gt;= #{startTime}
        </if>
        <if test="endTime != null  and endTime != ''">
            and   err.date &lt;= #{endTime}
        </if>
    </select>

    <select id="selErrorDistributedForData" resultType="com.bonc.jibei.vo.DataQualityErrorVo">
        SELECT
        ROUND( SUM( CASE `error_type` WHEN '缺数' THEN num ELSE 0 END )/ sum( num )* 100, 2 ) AS 'miss_data',
        ROUND( SUM( CASE `error_type` WHEN '死数' THEN num ELSE 0 END )/ sum( num )* 100, 2 ) AS 'dead_data',
        ROUND( SUM( CASE `error_type` WHEN '错数' THEN num ELSE 0 END )/ sum( num )* 100, 2 ) AS 'error_data',
        data_source
        FROM    (
        SELECT
        sum(num) num,
        data_source,
        error_type
        <if test="type != null  and type != ''">
            ,type_id
        </if>
        FROM
        jb_data_quality_error err
        <if test="stationId != null  and stationId != ''">
            LEFT JOIN cloudiip_access_equipment.v_stations_codes cc ON cc.danji_code  LIKE CONCAT('%',err.station_id ,'%')
        </if>
        where 1=1
        <if test="type != null  and type != ''">
            and   type_id=#{type}
        </if>
        <if test="stationId != null  and stationId != ''">
            and   cc.station_id=#{stationId}
        </if>
        <if test="startTime != null  and startTime != ''">
            and   date &gt;= #{startTime}
        </if>
        <if test="endTime != null  and endTime != ''">
            and   date &lt;= #{endTime}
        </if>
        GROUP BY
        data_source,error_type
        <if test="type != null  and type != ''">
            ,type_id
        </if>
        )a
        GROUP BY
        data_source
    </select>
    <select id="selErrorDistributedForError" resultType="com.bonc.jibei.vo.DataQualityErrorVo">
        SELECT
        ROUND( SUM( CASE `data_source` WHEN '1' THEN num ELSE 0 END )/ sum( num )* 100, 2 ) AS 'hlpt',
        ROUND( SUM( CASE `data_source` WHEN '2' THEN num ELSE 0 END )/ sum( num )* 100, 2 ) AS 'djxt',
        ROUND( SUM( CASE `data_source` WHEN '3' THEN num ELSE 0 END )/ sum( num )* 100, 2 ) AS 'czsssj',
        ROUND( SUM( CASE `data_source` WHEN '4' THEN num ELSE 0 END )/ sum( num )* 100, 2 ) AS 'glycsj',
        error_type
        FROM
        (
        SELECT
        sum(num) num,
        data_source,
        error_type
        <if test="type != null  and type != ''">
            ,type_id
        </if>
        FROM
        jb_data_quality_error err
        <if test="stationId != null  and stationId != ''">
            LEFT JOIN cloudiip_access_equipment.v_stations_codes cc ON cc.danji_code  LIKE CONCAT('%',err.station_id ,'%')
        </if>
        where 1=1
        <if test="type != null  and type != ''">
            and   type_id=#{type}
        </if>
        <if test="stationId != null  and stationId != ''">
            and   cc.station_id=#{stationId}
        </if>
        <if test="startTime != null  and startTime != ''">
            and   date &gt;= #{startTime}
        </if>
        <if test="endTime != null  and endTime != ''">
            and   date &lt;= #{endTime}
        </if>
        GROUP BY
        data_source,error_type
        <if test="type != null  and type != ''">
            ,type_id
        </if>
        )a
        GROUP BY
        error_type
    </select>

    <select id="selStation" resultType="com.bonc.jibei.entity.Station">
        SELECT station_id,station_name,danji_code as station_code ,station_coordinate as lit ,type_id as stationType

        from
        cloudiip_access_equipment.v_stations_codes
        where  1=1
        <if test="type != null  and type != ''">
            and   type_id=#{type}
        </if>
        <if test="aname != null  and aname != ''">
            and   aname=#{aname}
        </if>
    </select>



    <select id="selStationCnt" resultType="Map">
    SELECT SUM(aa.sssj) sssj,
    SUM(aa.hlpt) hlpt,
    SUM(aa.djxc) djxc,
    SUM(aa.glyc) glyc
    from
    (
    SELECT station_id,station_name,
    IF(ISNULL(device_num)=1,0,1) sssj,
    IF(ISNULL(hlpt_calcu)=1&amp;&amp;ISNULL(hlpt_newengergycloud)=1,0,1) hlpt,
    IF(ISNULL(danji_code)=1,0,1) djxc,
    IF(ISNULL(glyc_code)=1,0,1) glyc from
    cloudiip_access_equipment.v_stations_codes
    ) aa
    </select>


    <select id="selDevice" resultType="String" >
        SELECT device_id from jb_data_quality_error  err
        LEFT JOIN cloudiip_access_equipment.v_stations_codes cc ON cc.danji_code  LIKE CONCAT('%',err.station_id ,'%')
        where 1=1
        <if test="dataSource != null  and dataSource != ''">
            and   data_source=#{dataSource}
        </if>
        <if test="errorType != null  and errorType != ''">
            and   error_type=#{errorType}
        </if>
        <if test="stationId != null  and stationId != ''">
            and   cc.station_id=#{stationId}
        </if>
        <if test="type != null  and type != ''">
            and   type_id=#{type}
        </if>
        GROUP BY device_id
        ORDER BY  CAST(device_id AS DECIMAL)
    </select>
    <select id="errorDataStatisticsTablieName" resultType="com.bonc.jibei.entity.DataQualityError">
        SELECT map.tablename,err.* from jb_dataquality_table_map map
                                            left join jb_data_quality_error err on map.tableno=err.table_no and map.datasource=err.data_source
        where err.id=#{id}
    </select>
</mapper>