<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bonc.jibei.mapper.InterParamsMapper">
    <select id="selectInterParamList" resultType="com.bonc.jibei.vo.ModelInterParamMapVo">
        SELECT
        param.id,
        inter.id AS interId ,
        inter.org_id AS orgId,
        inter.inter_type AS interType,
        inter.inter_name AS interName,
        param.param_type AS paramType,
        param.param_desc AS paramDesc,
        param.param_name AS paramName,
        param.mix_name AS mixName
        FROM
        jb_report_interface inter
        INNER JOIN jb_inter_params param ON inter.id = param.inter_id
        where 1=1
        <if test="interId != null ">
            and param.inter_id=#{interId}
        </if>

                <if test="paramName != null and paramName != ''">
            and (param.param_name like concat('%', #{paramName}, '%') or param.param like concat('%', #{paramName}, '%'))
        </if>
        <if test="interName != null and interName != ''">
            and inter.inter_name like concat('%', #{interName}, '%')
        </if>

    </select>
    <select id="selectCount" resultType="int">
        select
        count(*) as cnt
        FROM
        jb_report_interface inter
        INNER JOIN jb_inter_params param ON inter.id = param.inter_id
        where 1=1
        <if test="interId != null ">
            and param.inter_id=#{interId}
        </if>
        <if test="paramName != null and paramName != ''">
            and (param.param_name like concat('%', #{paramName}, '%') or param.param like concat('%', #{paramName}, '%'))
        </if>
        <if test="interName != null and interName != ''">
            and inter.inter_name like concat('%', #{interName}, '%')
        </if>
    </select>
</mapper>