<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bonc.jibei.mapper.ModelInterfaceRelMapper">
    <select id="selectInterParamRelList" resultType="com.bonc.jibei.vo.ModelInterfaceRelListVo">
        select
        inter.id as id,
        inter.code as code,
        inter.inter_type as interType,
        inter.inter_name as interName,
        inter.inter_desc as interDesc,
        inter.inter_url as interUrl,
        from jb_model_params_map rel
        inner join jb_report_model model on rel.model_id=model.id
        inner join jb_report_interface inter on inter.id=rel.inter_id
        <if test="modelId != null ">
            and rel.model_id=#{modelId}
        </if>
        inner join jb_report_model model on model.id=rel.model_id
        where 1=1
        <if test="type != null and type != ''">
            and inter.inter_type=#{interType}
        </if>
        <if test="modelName != null and modelName != ''">
            and model.model_name like concat('%', #{modelName}, '%')
        </if>

    </select>
    <select id="selectCount" resultType="int">
        select
        count(*) as cnt
        from jb_model_interface_rel rel
        inner join jb_report_interface inter on inter.id=rel.inter_id
        <if test="modelId != null ">
            and rel.model_id=#{modelId}
        </if>
        inner join jb_report_model model on model.id=rel.model_id
        where 1=1
        <if test="type != null and type != ''">
            and inter.inter_type=#{interType}
        </if>
        <if test="modelName != null and modelName != ''">
            and model.model_name like concat('%', #{modelName}, '%')
        </if>
    </select>

</mapper>