<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bonc.jibei.mapper.PerformanceAnalysisMapper">


    <select id="seluesOfHoursTrend" resultType="com.bonc.jibei.vo.UseOfHoursVo">
        SELECT
            DATE_FORMAT( data_time, "%Y-%m" ) xData,
            Round( sum( utilize_hour ), 2 ) yData
        FROM
            jb_power_generation_efficiency
        WHERE 1=1
        <if test="year != null and '' != year">
            and   DATE_FORMAT( data_time, "%Y" )= #{year}
        </if>
        GROUP BY
            DATE_FORMAT( data_time, "%Y-%m" )
    </select>

    <select id="powerGenerationIndex" resultType="com.bonc.jibei.vo.UseOfHoursVo">
        <choose>
            <when test = "type=='1'.toString()">
                SELECT Round( AVG(utilize_hour),2) xdata ,Round( avg(pr_value),2) yData FROM  jb_power_generation_efficiency
                where 1=1
                <if test="year != null and '' != year">
                  and  DATE_FORMAT( data_time, "%Y" )= #{year}
                </if>
            </when>
            <when test = "type=='2'.toString()">
                SELECT Round( AVG(power_prediction_rate)*100,2) xdata FROM jb_power_prediction
                    where 1=1
                <if test="year != null and '' != year">
                  and  DATE_FORMAT( data_time, "%Y" )= #{year}
                </if>
            </when>
            <when test = "type=='3'.toString()">
                SELECT Round( AVG(fault_total),2) xdata,type yData FROM jb_fault_info_type
                 WHERE type=1
                <if test="year != null and '' != year">
                    and  DATE_FORMAT( `year_month`, "%Y" )= #{year}
                </if>
            </when>
            <when test = "type=='4'.toString()">
                SELECT Round( AVG(fault_total),2) xdata FROM jb_fault_info_type WHERE type=2
                <if test="year != null and '' != year">
                    and  DATE_FORMAT( `year_month`, "%Y" )= #{year}
                </if>
            </when>
        </choose>
    </select>

    <select id="powerGenerationIndexCz" resultType="com.bonc.jibei.vo.SortVo">
        SELECT dd.sort_jb,dd.xdata
        FROM
            (
                SELECT concat(@r:=@r+1, "") sort_jb, d1.*
                FROM (
                         SELECT d.*
                         FROM (
                         <choose>
                                <when test = "type=='1'.toString()">
                                         SELECT
                                    Round( AVG(utilize_hour),2)  xdata,station_id
                                        FROM
                                        jb_power_generation_efficiency
                                    where 1=1
                                    <if test="startTime != null ">
                                        and    DATE_FORMAT( data_time, "%Y-%m" ) &gt;= #{startTime}
                                    </if>
                                    <if test="endTime != null ">
                                        and  DATE_FORMAT( data_time, "%Y-%m" )  &lt;= #{endTime}
                                    </if>
                                </when>
                                 <when test = "type=='2'.toString()">
                                    SELECT Round( avg(pr_value),2) xData,station_id FROM  jb_power_generation_efficiency
                                     where 1=1
                                     <if test="startTime != null ">
                                         and    DATE_FORMAT( data_time, "%Y-%m" ) &gt;= #{startTime}
                                     </if>
                                     <if test="endTime != null ">
                                         and  DATE_FORMAT( data_time, "%Y-%m" )  &lt;= #{endTime}
                                     </if>
                                 </when>
                             <when test = "type=='3'.toString()">
                                 SELECT Round( AVG(power_prediction_rate)*100,2) xdata,station_id FROM jb_power_prediction
                                 where 1=1
                                 <if test="startTime != null ">
                                     and    DATE_FORMAT( data_time, "%Y-%m" ) &gt;= #{startTime}
                                 </if>
                                 <if test="endTime != null ">
                                     and  DATE_FORMAT( data_time, "%Y-%m" )  &lt;= #{endTime}
                                 </if>
                             </when>
                             <when test = "type=='4'.toString()">
                                 SELECT Round( AVG(fault_total),2) xdata,station_id  FROM jb_fault_info_type
                                 WHERE 1=1
                                 <if test="startTime != null ">
                                     and    DATE_FORMAT( data_time, "%Y-%m" ) &gt;= #{startTime}
                                 </if>
                                 <if test="endTime != null ">
                                     and  DATE_FORMAT( data_time, "%Y-%m" )  &lt;= #{endTime}
                                 </if>
                             </when>
                             <when test = "type=='5'.toString()">
                                 SELECT Round( AVG(fault_total),2) xdata ,station_id FROM jb_fault_info_type WHERE type=1
                                 <if test="startTime != null ">
                                     and    DATE_FORMAT( data_time, "%Y-%m" ) &gt;= #{startTime}
                                 </if>
                                 <if test="endTime != null ">
                                     and  DATE_FORMAT( data_time, "%Y-%m" )  &lt;= #{endTime}
                                 </if>
                             </when>
                             <when test = "type=='6'.toString()">
                                 SELECT Round( AVG(fault_total),2) xdata ,station_id FROM jb_fault_info_type WHERE type=2
                                 <if test="startTime != null ">
                                     and    DATE_FORMAT( data_time, "%Y-%m" ) &gt;= #{startTime}
                                 </if>
                                 <if test="endTime != null ">
                                     and  DATE_FORMAT( data_time, "%Y-%m" )  &lt;= #{endTime}
                                 </if>
                             </when>
                         </choose>
                                  GROUP BY station_id
                                  ORDER BY	xdata DESC
                              )d
                     )d1, (SELECT @r:=0) a
            )dd
        WHERE 1=1
          and   dd.station_id=1430
    </select>

    <select id="powerGenerationIndexCzSortDm" resultType="com.bonc.jibei.vo.SortVo">
        SELECT dd.sort_dm
        FROM
        (
        SELECT concat(@r:=@r+1, "") sort_dm, d1.*
        FROM (
        SELECT d.*
        FROM (
        <choose>
            <when test = "type=='1'.toString()">
                SELECT
                Round( AVG(utilize_hour),2)  xdata,jb.station_id,vs.s500id
                FROM
                jb_power_generation_efficiency jb
                LEFT JOIN cloudiip_access_equipment.v_stations_codes vs on vs.station_id=jb.station_id
                where    vs.s500id=(SELECT s500id from cloudiip_access_equipment.v_stations_codes where station_id=#{stationId} )
                <if test="startTime != null ">
                    and    DATE_FORMAT( data_time, "%Y-%m" ) &gt;= #{startTime}
                </if>
                <if test="endTime != null ">
                    and  DATE_FORMAT( data_time, "%Y-%m" )  &lt;= #{endTime}
                </if>
            </when>
            <when test = "type=='2'.toString()">
                SELECT Round( avg(pr_value),2) xData,jb.station_id,vs.s500id FROM  jb_power_generation_efficiency jb
                LEFT JOIN cloudiip_access_equipment.v_stations_codes vs on vs.station_id=jb.station_id
                where    vs.s500id=(SELECT s500id from cloudiip_access_equipment.v_stations_codes where station_id=#{stationId} )
                <if test="startTime != null ">
                    and    DATE_FORMAT( data_time, "%Y-%m" ) &gt;= #{startTime}
                </if>
                <if test="endTime != null ">
                    and  DATE_FORMAT( data_time, "%Y-%m" )  &lt;= #{endTime}
                </if>
            </when>
            <when test = "type=='3'.toString()">
                SELECT Round( AVG(power_prediction_rate)*100,2) xdata,jb.station_id,vs.s500id FROM jb_power_prediction jb
                LEFT JOIN cloudiip_access_equipment.v_stations_codes vs on vs.station_id=jb.station_id
                where    vs.s500id=(SELECT s500id from cloudiip_access_equipment.v_stations_codes where station_id=#{stationId} )
                <if test="startTime != null ">
                    and    DATE_FORMAT( data_time, "%Y-%m" ) &gt;= #{startTime}
                </if>
                <if test="endTime != null ">
                    and  DATE_FORMAT( data_time, "%Y-%m" )  &lt;= #{endTime}
                </if>
            </when>
            <when test = "type=='4'.toString()">
                SELECT Round( AVG(fault_total),2) xdata,jb.station_id,vs.s500id  FROM jb_fault_info_type jb
                LEFT JOIN cloudiip_access_equipment.v_stations_codes vs on vs.station_id=jb.station_id
                where    vs.s500id=(SELECT s500id from cloudiip_access_equipment.v_stations_codes where station_id=#{stationId} )
                <if test="startTime != null ">
                    and    DATE_FORMAT( year_month, "%Y-%m" ) &gt;= #{startTime}
                </if>
                <if test="endTime != null ">
                    and  DATE_FORMAT( year_month, "%Y-%m" )  &lt;= #{endTime}
                </if>
            </when>
            <when test = "type=='5'.toString()">
                SELECT Round( AVG(fault_total),2) xdata ,jb.station_id,vs.s500id FROM jb_fault_info_type  jb
                LEFT JOIN cloudiip_access_equipment.v_stations_codes vs on vs.station_id=jb.station_id
                where    vs.s500id=(SELECT s500id from cloudiip_access_equipment.v_stations_codes where station_id=#{stationId} )
                and type=1
                <if test="startTime != null ">
                    and    DATE_FORMAT( year_month, "%Y-%m" ) &gt;= #{startTime}
                </if>
                <if test="endTime != null ">
                    and  DATE_FORMAT( year_month, "%Y-%m" )  &lt;= #{endTime}
                </if>
            </when>
            <when test = "type=='6'.toString()">
                SELECT Round( AVG(fault_total),2) xdata ,jb.station_id,vs.s500id FROM jb_fault_info_type   jb
                LEFT JOIN cloudiip_access_equipment.v_stations_codes vs on vs.station_id=jb.station_id
                where    vs.s500id=(SELECT s500id from cloudiip_access_equipment.v_stations_codes where station_id=1430 )
                and type=2
                <if test="startTime != null ">
                    and    DATE_FORMAT( year_month, "%Y-%m" ) &gt;= #{startTime}
                </if>
                <if test="endTime != null ">
                    and  DATE_FORMAT( year_month, "%Y-%m" )  &lt;= #{endTime}
                </if>
            </when>
        </choose>
        GROUP BY station_id
        ORDER BY	xdata DESC
        )d
        )d1, (SELECT @r:=0) a
        )dd
        WHERE 1=1
        and   dd.station_id=1430
    </select>
    <select id="powerGenerationOverview" resultType="com.bonc.jibei.vo.UseOfHoursVo">
        ( SELECT "发电小时数" xData, Round( sum( utilize_hour ), 2 ) yData FROM jb_power_generation_efficiency ht WHERE 1 = 1 AND ht.station_id = 1430 ) UNION ALL
        ( SELECT "发电能效PR" xData, Round( sum( pr_value ), 2 ) yData FROM jb_power_generation_efficiency ht WHERE 1 = 1 AND ht.station_id = 1430 ) UNION ALL
        ( SELECT "功率预测准确率" xData, Round( sum( power_prediction_rate ), 2 ) yData FROM jb_power_prediction ht WHERE 1 = 1 AND ht.station_id = 1430 ) UNION ALL
        ( SELECT "故障检修次数" xData, Round( sum( fault_cnt ), 2 ) yData FROM jb_status_info ht WHERE 1 = 1 AND ht.station_id = 1430 ) UNION ALL
        ( SELECT "故障检修时间" xData, Round( sum( fault_time ), 2 ) yData FROM jb_status_info ht WHERE 1 = 1 AND ht.station_id = 1430 ) UNION ALL
        ( SELECT "MTBF" xData, Round( sum( mrtbf ), 2 ) yData FROM jb_status_info ht WHERE 1 = 1 AND ht.station_id = 1430 )
    </select>

    <select id="seluesOfHoursTrendDq" resultType="com.bonc.jibei.vo.UseOfHoursVo">
        SELECT
            DATE_FORMAT( data_time, "%Y-%m" ) xData,
            Round( sum( utilize_hour ), 2 ) yData,
            vs.aname yData1
        FROM
            jb_power_generation_efficiency  ht
                LEFT JOIN cloudiip_access_equipment.v_stations_codes vs on vs.station_id=ht.station_id
        WHERE 1=1
        <if test="year != null and '' != year">
            and   DATE_FORMAT( data_time, "%Y" )= #{year}
        </if>
        GROUP BY
            vs.aid,
            DATE_FORMAT( data_time, "%Y-%m" )
        UNION
        SELECT
            DATE_FORMAT( data_time, "%Y-%m" ) xData,
            Round( sum( utilize_hour ), 2 ) yData,
            "冀北" as yData1
        FROM
        jb_power_generation_efficiency  ht
        WHERE 1=1
        <if test="year != null and '' != year">
            and   DATE_FORMAT( data_time, "%Y" )= #{year}
        </if>
        GROUP BY
            DATE_FORMAT( data_time, "%Y-%m" )
    </select>
    <select id="uesOfHoursTrendCz" resultType="com.bonc.jibei.vo.UseOfHoursVo">
        SELECT aa.xData,aa.yData,bb.yData1 ,cc.yData2 from (
                                                               (SELECT
                                                                    DATE_FORMAT(  ${time}, "%Y-%m" ) xData,
                                                                    Round( sum( ${param} ), 2 ) yData
                                                                FROM
                                                                    ${table}  ht
                                                                        LEFT JOIN cloudiip_access_equipment.v_stations_codes vs on vs.station_id=ht.station_id
                                                                WHERE 1=1
                                                                  and    ht.station_id=1430
                                                                GROUP BY
                                                                    DATE_FORMAT( ${time}, "%Y-%m" )
                                                               ) aa
                                                                   LEFT JOIN
                                                                   (SELECT DATE_FORMAT( ${time}, "%Y-%m" ) xData1,Round( sum( ${param} )/count(DISTINCT(ht.station_id)) , 2 )yData1
                                                                    FROM
                                                                        ${table}  ht LEFT JOIN cloudiip_access_equipment.v_stations_codes vs on vs.station_id=ht.station_id
                                                                    WHERE 1=1
                                                                    GROUP BY
                                                                        DATE_FORMAT( ${time}, "%Y-%m" )
                                                                   )bb on aa.xData=bb.xData1
                                                                   LEFT JOIN
                                                                   (SELECT  xData xData2,max(yData) yData2 from (
                                                                                                                    SELECT DATE_FORMAT( ${time}, "%Y-%m" ) xData,Round( sum( ${param} ), 2 ) yData,ht.station_id
                                                                                                                    FROM  ${table}  ht
                                                                                                                             LEFT JOIN cloudiip_access_equipment.v_stations_codes vs on vs.station_id=ht.station_id
                                                                                                                    WHERE 1=1
                                                                                                                    GROUP BY ht.station_id, DATE_FORMAT( ${time}, "%Y-%m" )
                                                                                                                )d GROUP BY xData
                                                                   ) cc on aa.xData=cc.xData2
                                                               )
    </select>
    <select id="seluesOfHoursTrendDm" resultType="com.bonc.jibei.vo.UseOfHoursVo">
    SELECT
    DATE_FORMAT( data_time, "%Y-%m" ) xData,
    Round( sum( utilize_hour ), 2 ) yData,
    vs.s500name  yData1
    FROM
        jb_power_generation_efficiency ht
    LEFT JOIN cloudiip_access_equipment.v_stations_codes vs on vs.station_id=ht.station_id
    WHERE 1=1
        <if test="year != null and '' != year">
            and   DATE_FORMAT( data_time, "%Y" )= #{year}
        </if>
    GROUP BY
        vs.s500id,
        DATE_FORMAT( data_time, "%Y-%m" )
    UNION
    SELECT
    DATE_FORMAT( data_time, "%Y-%m" ) xData,
    Round( sum( utilize_hour ), 2 ) yData,
    "冀北" as yData1
    FROM
        jb_power_generation_efficiency  ht
    LEFT JOIN cloudiip_access_equipment.v_stations_codes vs on vs.station_id=ht.station_id
    WHERE 1=1
        <if test="year != null and '' != year">
            and   DATE_FORMAT( data_time, "%Y" )= #{year}
        </if>
    GROUP BY
    DATE_FORMAT( data_time, "%Y-%m" )
</select>
    <select id="selPrTrend" resultType="com.bonc.jibei.vo.UseOfHoursVo">
        SELECT
            DATE_FORMAT( data_time, "%Y-%m" ) xData,
            round( avg( pr_value ), 2 ) yData
        FROM
            jb_power_generation_efficiency
        WHERE 1=1
        <if test="year != null and '' != year">
            and   DATE_FORMAT( data_time, "%Y" )= #{year}
        </if>
        GROUP BY
            DATE_FORMAT(data_time,"%Y-%m")
    </select>

    <select id="selPrTrendDq" resultType="com.bonc.jibei.vo.UseOfHoursVo">
        SELECT
            DATE_FORMAT( data_time, "%Y-%m" ) xData,
            round( avg( pr_value ), 2 ) yData,
            vs.aname yData1
        FROM
            jb_power_generation_efficiency jp
                LEFT JOIN cloudiip_access_equipment.v_stations_codes vs ON vs.station_id = jp.station_id
        WHERE 1=1
        <if test="year != null and '' != year">
            and   DATE_FORMAT( data_time, "%Y" )= #{year}
        </if>
        GROUP BY
            vs.aname,
            DATE_FORMAT(data_time,"%Y-%m")
        UNION
        SELECT
            DATE_FORMAT( data_time, "%Y-%m" ) xData,
            round( avg( pr_value ), 2 ) yData,
            "冀北" as yData1
        FROM
            jb_power_generation_efficiency jp
                LEFT JOIN cloudiip_access_equipment.v_stations_codes vs ON vs.station_id = jp.station_id
        WHERE 1=1
        <if test="year != null and '' != year">
            and   DATE_FORMAT( data_time, "%Y" )= #{year}
        </if>
        GROUP BY
            DATE_FORMAT(data_time,"%Y-%m")
    </select>

    <select id="selPrTrendDqValue" resultType="Map">
        SELECT
            MAX( pr_value ) AS max,
	        MIN( pr_value ) AS min,
	        round( avg( pr_value ), 2 ) AS avg
        FROM
            jb_power_generation_efficiency
        WHERE 1=1
        <if test="year != null and '' != year">
            and   DATE_FORMAT( data_time, "%Y" )= #{year}
        </if>
    </select>
    <select id="selPrTrendDqName" resultType="java.lang.String">
        (SELECT vs.station_name xData  from jb_power_generation_efficiency jp
         LEFT JOIN cloudiip_access_equipment.v_stations_codes vs ON vs.station_id = jp.station_id
         where pr_value =(
             SELECT
                 MAX(pr_value)
             FROM
                 jb_power_generation_efficiency
        WHERE 1=1
        <if test="year != null and '' != year">
            and   DATE_FORMAT( data_time, "%Y" )= #{year}
        </if>)
        <if test="year != null and '' != year">
            and   DATE_FORMAT( data_time, "%Y" )= #{year}
        </if>
             limit 1)
        UNION
        (SELECT vs.station_name xData  from jb_power_generation_efficiency jp
                                                LEFT JOIN cloudiip_access_equipment.v_stations_codes vs ON vs.station_id = jp.station_id
         where pr_value =(
             SELECT
                 min(pr_value)
             FROM
                 jb_power_generation_efficiency
        WHERE 1=1
        <if test="year != null and '' != year">
            and   DATE_FORMAT( data_time, "%Y" )= #{year}
        </if>)
        <if test="year != null and '' != year">
            and   DATE_FORMAT( data_time, "%Y" )= #{year}
        </if>
             limit 1)
    </select>
    <select id="prStationTop10" resultType="com.bonc.jibei.vo.UseOfHoursVo">
        SELECT
            Round( sum( pr_value ), 2 ) xData,
            vs.station_name as yData
        FROM
            jb_power_generation_efficiency  jp
                LEFT JOIN cloudiip_access_equipment.v_stations_codes vs on vs.station_id=jp.station_id
        WHERE 1=1
        <if test="year != null and '' != year">
            and   DATE_FORMAT( data_time, "%Y" )= #{year}
        </if>
        GROUP BY
            jp.station_id
        ORDER BY xData
        <if test = "sortType=='1'.toString()">
            desc
        </if>
    </select>
    <select id="selAvgPrAnalysis" resultType="com.bonc.jibei.vo.UseOfHoursVo">
        SELECT
        Round( avg( pr_value ), 2 ) xData,
        <choose>
            <when test = "type=='1'.toString()">
                vs.land_type
            </when>
            <when test = "type=='2'.toString()">
                vs.land_type
            </when>
            <when test = "type=='3'.toString()">
                vs.land_type
            </when>
            <when test = "type=='4'.toString()">
                vs.land_type
            </when>
        </choose>
       as yData
        FROM
        jb_power_generation_efficiency  jp
        JOIN jb_station vs on vs.station_id=jp.station_id
        WHERE 1=1
        <if test="year != null and '' != year">
            and   DATE_FORMAT( data_time, "%Y" )= #{year}
        </if>
        GROUP BY
        <choose>
        <when test = "type=='1'.toString()">
            vs.land_type
        </when>
        <when test = "type=='2'.toString()">
            vs.land_type
        </when>
        <when test = "type=='3'.toString()">
            vs.land_type
        </when>
        <when test = "type=='4'.toString()">
            vs.land_type
        </when>
        </choose>
    </select>


    <select id="prCompanyTop10" resultType="com.bonc.jibei.vo.UseOfHoursVo">
        SELECT
            Round( sum( pr_value ), 2 ) xData,
            js.company AS yData
        FROM
            jb_power_generation_efficiency jp
                LEFT JOIN jb_station js ON js.station_id = jp.station_id
        WHERE 1=1
        <if test="year != null and '' != year">
            and   DATE_FORMAT( data_time, "%Y" )= #{year}
        </if>
        GROUP BY
            js.company
        ORDER BY
            xData DESC
        <if test = "sortType=='1'.toString()">
            desc
        </if>
    </select>

    <select id="selUesOfHoursStationTop10" resultType="com.bonc.jibei.vo.UseOfHoursVo">
        SELECT
            Round( sum( utilize_hour ), 2 ) xData,
            vs.station_name as yData
        FROM
                jb_power_generation_efficiency  ht
                LEFT JOIN cloudiip_access_equipment.v_stations_codes vs on vs.station_id=ht.station_id
        WHERE 1=1
        <if test="year != null and '' != year">
            and   DATE_FORMAT( data_time, "%Y" )= #{year}
        </if>
        GROUP BY
            ht.station_id
        ORDER BY xData
        <if test = "sortType=='1'.toString()">
            desc
        </if>

    </select>

    <select id="selUesOfHoursCompanyTop10" resultType="com.bonc.jibei.vo.UseOfHoursVo">
        SELECT
            Round( sum( utilize_hour ), 2 ) xData,
            js.company as yData
        FROM
        jb_power_generation_efficiency  ht
                LEFT JOIN jb_station js ON js.station_id = ht.station_id
        WHERE 1=1
        <if test="year != null and '' != year">
            and   DATE_FORMAT( data_time, "%Y" )= #{year}
        </if>
        GROUP BY
            js.company
        ORDER BY xData
        <if test = "sortType=='1'.toString()">
            desc
        </if>
    </select>

    <select id="selAccuracyRateTrend" resultType="com.bonc.jibei.vo.UseOfHoursVo">
        SELECT
            round(avg(power_prediction_dias),2) yData,
            round(avg(power_prediction_rate),2) yData1,
            max(power_prediction_dias) yData2,
            DATE_FORMAT(data_time,"%Y-%m") xData
        from jb_power_prediction
        WHERE
            1=1
        <if test="year != null and '' != year">
            and   DATE_FORMAT( data_time, "%Y" )= #{year}
        </if>
        GROUP BY
            DATE_FORMAT(data_time,"%Y-%m")
    </select>

    <select id="AccuracyRateCompany" resultType="com.bonc.jibei.vo.UseOfHoursVo">
        SELECT
        data_time xData,
        round( sum( power_prediction_rate ), 2 ) yData,
        "冀北" as yData1
        FROM
        jb_power_prediction jp
        WHERE 1=1
        <if test="startTime != null ">
         and   data_time &gt;= #{startTime}
        </if>
        <if test="endTime != null ">
        and data_time  &lt;= #{endTime}
        </if>
        GROUP BY
        data_time
    </select>


    <select id="AccuracyRateTop10" resultType="com.bonc.jibei.vo.UseOfHoursVo">
        <choose>
            <when test = "type=='1'.toString()">
                SELECT
                Round( sum( power_prediction_rate ), 2 ) xData,
                vs.s500name as yData
                FROM
                jb_power_prediction  ht
                LEFT JOIN cloudiip_access_equipment.v_stations_codes vs on vs.station_id=ht.station_id
                WHERE 1=1
                <if test="year != null and '' != year">
                    and   DATE_FORMAT( data_time, "%Y" )= #{year}
                </if>
                GROUP BY
                vs.s500id
                ORDER BY xData
                <if test = "sortType=='1'.toString()">
                    desc
                </if>
            </when>
            <when test = "type=='2'.toString()">
                SELECT
                Round( sum( power_prediction_rate ), 2 ) xData,
                vs.station_name as yData
                FROM
                jb_power_prediction  ht
                LEFT JOIN cloudiip_access_equipment.v_stations_codes vs on vs.station_id=ht.station_id
                WHERE 1=1
                <if test="year != null and '' != year">
                    and   DATE_FORMAT( data_time, "%Y" )= #{year}
                </if>
                GROUP BY
                ht.station_id
                ORDER BY xData
                <if test = "sortType=='1'.toString()">
                    desc
                </if>
            </when>
            <when test = "type=='3'.toString()">
                SELECT
                Round( sum( power_prediction_rate ), 2 ) xData,
                js.company AS yData
                FROM
                jb_power_prediction  jp
                LEFT JOIN jb_station js ON js.station_id = jp.station_id
                WHERE
                DATE_FORMAT( data_time, "%Y" )= 2022
                GROUP BY
                js.company
                ORDER BY xData
                <if test = "sortType=='1'.toString()">
                    desc
                </if>
            </when>
        </choose>

    </select>


    <select id="faultInfoType" resultType="java.util.LinkedHashMap">
        SELECT
            sum( type_1 ) AS "类型1",
            sum( type_2 ) AS "类型2",
            sum( type_3 ) AS "类型3",
            sum( type_4 ) AS "类型4",
            sum( type_5 ) AS "类型5",
            sum( type_6 ) AS "类型6",
            sum( type_7 ) AS "类型7",
            sum( type_8 ) AS "类型8",
            sum( type_9 ) AS "类型9",
            sum( type_10 ) AS "类型10"
        FROM
            jb_fault_info_type
        WHERE  DATE_FORMAT(  `year_month`, "%Y" )= 2022
    </select>


    <select id="runningStatus" resultType="java.util.LinkedHashMap">
        SELECT
            sum( state_1 ) AS "待机 R",
            sum( state_2 ) AS "发电 S",
            sum( state_3 ) AS "机组自降额AIP",
            sum( state_4 ) AS "限电降额IPD",
            sum( state_5 ) AS "站内计划停运POI",
            sum( state_6 ) AS "站外计划停运POO",
            sum( state_7 ) AS "限电停运DR",
            sum( state_8 ) AS "机组自身原因故障停运ISF",
            sum( state_9 ) AS "站内受累停运PRI",
            sum( state_10 ) AS "站外受累停运PRO",
            sum( state_11 ) AS "通讯中断CO",
            sum( others ) AS "其他"
        FROM
            jb_status_info
        WHERE  DATE_FORMAT(  `yearmonth`, "%Y" )= 2022
    </select>
    <select id="runningStatusCz" resultType="java.util.Map">
        SELECT
            "本站" as name,
            sum( state_1 ) AS "待机 R",
            sum( state_2 ) AS "发电 S",
            sum( state_3 ) AS "机组自降额AIP",
            sum( state_4 ) AS "限电降额IPD",
            sum( state_5 ) AS "站内计划停运POI",
            sum( state_6 ) AS "站外计划停运POO",
            sum( state_7 ) AS "限电停运DR",
            sum( state_8 ) AS "机组自身原因故障停运ISF",
            sum( state_9 ) AS "站内受累停运PRI",
            sum( state_10 ) AS "站外受累停运PRO",
            sum( state_11 ) AS "通讯中断CO",
            sum( others ) AS "其他"
        FROM
            jb_status_info
        WHERE  DATE_FORMAT(  `yearmonth`, "%Y" )= 2022
        UNION ALL
        SELECT
            "冀北" as name,
            sum( state_1 ) AS "待机 R",
            sum( state_2 ) AS "发电 S",
            sum( state_3 ) AS "机组自降额AIP",
            sum( state_4 ) AS "限电降额IPD",
            sum( state_5 ) AS "站内计划停运POI",
            sum( state_6 ) AS "站外计划停运POO",
            sum( state_7 ) AS "限电停运DR",
            sum( state_8 ) AS "机组自身原因故障停运ISF",
            sum( state_9 ) AS "站内受累停运PRI",
            sum( state_10 ) AS "站外受累停运PRO",
            sum( state_11 ) AS "通讯中断CO",
            sum( others ) AS "其他"
        FROM
            jb_status_info
        WHERE  DATE_FORMAT(  `yearmonth`, "%Y" )= 2022
        UNION ALL
        SELECT
            "断面" as name,
            sum( state_1 ) AS "待机 R",
            sum( state_2 ) AS "发电 S",
            sum( state_3 ) AS "机组自降额AIP",
            sum( state_4 ) AS "限电降额IPD",
            sum( state_5 ) AS "站内计划停运POI",
            sum( state_6 ) AS "站外计划停运POO",
            sum( state_7 ) AS "限电停运DR",
            sum( state_8 ) AS "机组自身原因故障停运ISF",
            sum( state_9 ) AS "站内受累停运PRI",
            sum( state_10 ) AS "站外受累停运PRO",
            sum( state_11 ) AS "通讯中断CO",
            sum( others ) AS "其他"
        FROM
            jb_status_info
        WHERE  DATE_FORMAT(  `yearmonth`, "%Y" )= 2022
    </select>


    <select id="faultAnalyze" resultType="java.util.LinkedHashMap">
        <choose>
            <when test = "type=='1'.toString()">
                SELECT
                sum( type_1 ) AS "类型1",
                sum( type_2 ) AS "类型2",
                sum( type_3 ) AS "类型3",
                sum( type_4 ) AS "类型4",
                sum( type_5 ) AS "类型5",
                sum( type_6 ) AS "类型6",
                sum( type_7 ) AS "类型7",
                sum( type_8 ) AS "类型8",
                sum( type_9 ) AS "类型9",
                sum( type_10 ) AS "类型10"
                FROM
                jb_fault_info_type  ht
                LEFT JOIN cloudiip_access_equipment.v_stations_codes vs on vs.station_id=ht.station_id
                WHERE
                    1=1
                <if test="yearMonth != null and '' != yearMonth">
                and  DATE_FORMAT( `year_month`, "%Y-%m" )= #{yearMonth}
                </if>
                <if test="name != null and '' != name">
                    and vs.s500name=#{name}
                </if>
                <choose>
                    <when test= "dataType=='2'.toString()">
                       and type="2"
                    </when>
                    <otherwise>
                        and type="1"
                    </otherwise>
                </choose>
            </when>
            <when test = "type=='2'.toString()">
                SELECT
                sum( type_1 ) AS "类型1",
                sum( type_2 ) AS "类型2",
                sum( type_3 ) AS "类型3",
                sum( type_4 ) AS "类型4",
                sum( type_5 ) AS "类型5",
                sum( type_6 ) AS "类型6",
                sum( type_7 ) AS "类型7",
                sum( type_8 ) AS "类型8",
                sum( type_9 ) AS "类型9",
                sum( type_10 ) AS "类型10"
                FROM
                jb_fault_info_type  ht
                 JOIN jb_station js ON js.station_id = ht.station_id
                WHERE
                1=1
                <if test="yearMonth != null and '' != yearMonth">
                    and  DATE_FORMAT( `year_month`, "%Y-%m" )= #{yearMonth}
                </if>
                <if test="name != null and '' != name">
                    and js.power_converter_type=#{name}
                </if>
                <choose>
                    <when test= "dataType=='2'.toString()">
                        and type="2"
                    </when>
                    <otherwise>
                        and type="1"
                    </otherwise>
                </choose>

            </when>
            <when test = "type=='3'.toString()">
                SELECT
                sum( type_1 ) AS "类型1",
                sum( type_2 ) AS "类型2",
                sum( type_3 ) AS "类型3",
                sum( type_4 ) AS "类型4",
                sum( type_5 ) AS "类型5",
                sum( type_6 ) AS "类型6",
                sum( type_7 ) AS "类型7",
                sum( type_8 ) AS "类型8",
                sum( type_9 ) AS "类型9",
                sum( type_10 ) AS "类型10"
                FROM
                jb_fault_info_type  jp
                LEFT JOIN jb_station js ON js.station_id = jp.station_id
                WHERE
                    1=1
                <if test="yearMonth != null and '' != yearMonth">
                    and  DATE_FORMAT( `year_month`, "%Y-%m" )= #{yearMonth}
                </if>
                <if test="name != null ">
                    and  js.company=#{name}
                </if>
                <choose>
                    <when test= "dataType=='2'.toString()">
                        and type="2"
                    </when>
                    <otherwise>
                        and type="1"
                    </otherwise>
                </choose>
            </when>
            <when test = "type=='4'.toString()">
                SELECT
                sum( type_1 ) AS "类型1",
                sum( type_2 ) AS "类型2",
                sum( type_3 ) AS "类型3",
                sum( type_4 ) AS "类型4",
                sum( type_5 ) AS "类型5",
                sum( type_6 ) AS "类型6",
                sum( type_7 ) AS "类型7",
                sum( type_8 ) AS "类型8",
                sum( type_9 ) AS "类型9",
                sum( type_10 ) AS "类型10"
                FROM
                jb_fault_info_type  jp
                LEFT JOIN jb_station js ON js.station_id = jp.station_id
                WHERE
                1=1
                <if test="yearMonth != null and '' != yearMonth">
                    and  DATE_FORMAT( `year_month`, "%Y-%m" )= #{yearMonth}
                </if>
                <if test="name != null ">
                    and  js.factory=#{name}
                </if>
                <choose>
                    <when test= "dataType=='2'.toString()">
                        and type="2"
                    </when>
                    <otherwise>
                        and type="1"
                    </otherwise>
                </choose>
            </when>
        </choose>
    </select>

    <select id="faultTop10" resultType="com.bonc.jibei.vo.UseOfHoursVo">
        <choose>
            <when test = "type=='1'.toString()">
                SELECT
                sum( fault_cnt ) AS xData,
                vs.station_name yData
                FROM
                jb_status_info ht
                LEFT JOIN cloudiip_access_equipment.v_stations_codes vs ON vs.station_id = ht.station_id
                GROUP BY
                ht.station_id
                ORDER BY xData
                <if test = "sortType=='1'.toString()">
                    desc
                </if>
            </when>
            <when test = "type=='2'.toString()">
                SELECT
                sum( fault_time ) AS xData,
                vs.station_name yData
                FROM
                jb_status_info ht
                LEFT JOIN cloudiip_access_equipment.v_stations_codes vs ON vs.station_id = ht.station_id
                GROUP BY
                ht.station_id
                ORDER BY xData
                <if test = "sortType=='1'.toString()">
                    desc
                </if>
            </when>
            <when test = "type=='3'.toString()">
                SELECT
                sum( mrtbf ) AS xData,
                vs.station_name yData
                FROM
                jb_status_info ht
                LEFT JOIN cloudiip_access_equipment.v_stations_codes vs ON vs.station_id = ht.station_id
                GROUP BY
                ht.station_id
                ORDER BY xData
                <if test = "sortType=='1'.toString()">
                    desc
                </if>
            </when>
        </choose>
    </select>

    <select id="faultAnalyzeMTBF" resultType="java.lang.String">
        <choose>
            <when test = "type=='1'.toString()">
                SELECT
                sum( mrtbf )  xData
                FROM
                jb_status_info ht
                LEFT JOIN cloudiip_access_equipment.v_stations_codes vs ON vs.station_id = ht.station_id
                WHERE
                1 = 1
                <if test="yearMonth != null and '' != yearMonth">
                    and  DATE_FORMAT( `year_month`, "%Y-%m" )= #{yearMonth}
                </if>
                <if test="name != null ">
                    and  vs.s500name=#{name}
                </if>
            </when>
            <when test = "type=='2'.toString()">
                SELECT
                sum( mrtbf )  xData
                FROM
                jb_status_info ht
                 JOIN jb_station js ON js.station_id = jp.station_id
                WHERE
                1 = 1
                <if test="yearMonth != null and '' != yearMonth">
                    and  DATE_FORMAT( `year_month`, "%Y-%m" )= #{yearMonth}
                </if>
                <if test="name != null ">
                    and  js.power_converter_type=#{name}
                </if>
            </when>
            <when test = "type=='3'.toString()">
                SELECT
                sum( mrtbf )  xData
                FROM
                jb_status_info ht
                JOIN jb_station js ON js.station_id = jp.station_id
                WHERE
                1 = 1
                <if test="yearMonth != null and '' != yearMonth">
                    and  DATE_FORMAT( `year_month`, "%Y-%m" )= #{yearMonth}
                </if>
                <if test="name != null ">
                    and  js.company=#{name}
                </if>
            </when>
            <when test = "type=='4'.toString()">
                SELECT
                sum( mrtbf )  xData
                FROM
                jb_status_info ht
                JOIN jb_station js ON js.station_id = jp.station_id
                WHERE
                1 = 1
                <if test="yearMonth != null and '' != yearMonth">
                    and  DATE_FORMAT( `year_month`, "%Y-%m" )= #{yearMonth}
                </if>
                <if test="name != null ">
                    and  js.factory=#{name}
                </if>
            </when>
        </choose>
    </select>

    <select id="faultAnalyzeDownList" resultType="java.lang.String">
        <choose>
            <when test = "type=='1'.toString()">
                SELECT s500name xData from  cloudiip_access_equipment.v_stations_codes GROUP BY s500name
            </when>
            <when test = "type=='2'.toString()">
                SELECT power_converter_type xData from  jb_station GROUP BY power_converter_type
            </when>
            <when test = "type=='3'.toString()">
                SELECT company  xData from  jb_station GROUP BY company
            </when>
            <when test = "type=='4'.toString()">
                SELECT factory xData from  jb_station GROUP BY factory
            </when>
        </choose>
    </select>
</mapper>