<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bonc.jibei.mapper.ReportModelInterMapper">
    <!-- 取与报告配置 关联的 场站 新增报告管理-->
    <select id="selectReportModel" resultType="com.bonc.jibei.vo.ReportModelInter">
       SELECT
        station.station_id AS stationId,
        station.station_type AS stationType,
        cfg.report_name as reportName,
        model.id as modelId,
        model.model_version as modelVersion,
        model.model_file_url as modelFileUrl,
        concat(station.station_name, cfg.report_name) as res_report_name
        FROM jb_report_cfg cfg
        INNER JOIN jb_station_cfg_rel rel on cfg.id=rel.cfg_id and cfg.status=1
        INNER JOIN jb_report_model model ON cfg.model_id = model.id and model.status=1
        INNER JOIN jb_station station ON rel.station_id = station.station_id AND station.is_show = 1
        where  not EXISTS (select 1 from jb_report_mng mng where mng.station_id=rel.station_id
        <if test="year != null">
            and  mng.report_year =#{year}
        </if>
        <if test="quarter != null">
            and  mng.report_quarter =#{quarter}
        </if>
        )
    </select>
    <!-- 取与报告配置 关联的 场站 重新生成报告管理-->
    <select id="selectReReportModel" resultType="com.bonc.jibei.entity.ReportMng">
        SELECT
        mng.id,
        mng.report_year as reportYear,
        mng.report_url as  reportUrl,
        mng.report_quarter as reportQuarter,
        mng.station_id AS stationId,
        mng.station_type AS stationType,
        mng.report_name as reportName,
        model.id as modelId,
        model.model_version as modelVersion
        FROM
        jb_station_cfg_rel rel
        INNER JOIN jb_report_cfg cfg on cfg.id=rel.cfg_id
        INNER JOIN jb_report rpt on rpt.id=cfg.report_id
        INNER JOIN jb_report_model model ON cfg.model_id = model.id  and model.status=1
        INNER JOIN jb_station station ON rel.station_id = station.station_id AND station.is_show = 1
        INNER JOIN jb_report_mng mng ON mng.station_id = rel.station_id
        <if test="reportStatus != null">
            AND mng.report_status = #{reportStatus}
        </if>
        order by status_time asc
        limit 5
    </select>
    <!-- 取模板接口 -->
    <select id="selectReportModelInter" resultType="com.bonc.jibei.vo.ReportModelInter">
        SELECT
        inter.inter_url AS interUrl,
        inter.place_tag AS placeTag,
        inter.pid
        FROM jb_report_interface inter
        INNER JOIN jb_model_interface_rel inter_rel  ON inter.id = inter_rel.inter_id
        where 1=1
        <if test="modelType != null">
            AND inter.inter_type = #{modelType}
        </if>
        <if test="modelId != null">
            AND inter_rel.model_id = #{modelId}
        </if>
    </select>

    <select id="selectReReportModelInter" resultType="com.bonc.jibei.vo.ReportModelInter">
        SELECT
        inter.inter_url AS interUrl,
        inter.place_tag AS placeTag,
        inter.pid
        FROM jb_report_interface inter
        INNER JOIN jb_model_interface_rel inter_rel ON inter.id = inter_rel.inter_id
        where  1=1
        <if test="modelType != null">
            AND inter.inter_type = #{modelType}
        </if>
        <if test="modelId != null">
            AND inter_rel.model_id = #{modelId}
        </if>
    </select>

    <select id="selectReportInter" resultType="com.bonc.jibei.entity.ReportInterface">
        SELECT
        inter.id,
        inter.org_id AS orgId,
        inter.inter_type AS interType,
        inter.inter_name AS interName,
        inter.inter_desc AS interDesc,
        inter.inter_url AS interUrl,
        inter.place_tag AS placeTag,
        inter.pid
        FROM
        jb_model_interface_rel rel
        INNER JOIN jb_report_interface inter ON rel.inter_id = inter.id
        <if test="modelId != null">
            AND rel.model_id =  #{modelId}
        </if>
    </select>


    <update id="editModelInterRel" parameterType="com.bonc.jibei.vo.ModelInterVo" >
        update  jb_model_interface_rel
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="orgId != null">
                org_id = #{orgId},
            </if>
            <if test="modelId != null">
                model_id = #{modelId},
            </if>
            <if test="interId != null">
                inter_id = #{interId},
            </if>
        </set>
           where  id = #{id};
    </update>
    <insert id="interModelInterRel"  parameterType="com.bonc.jibei.vo.ModelInterVo" >
        INSERT INTO jb_model_interface_rel (`id`, `org_id`, `model_id`, `inter_id`)
        VALUES (NUll, #{orgId},  #{modelId}, #{interId});
    </insert>
</mapper>